// 自定義字體樣式
body,
html {
  font-family: 'Noto Sans TC', sans-serif !important;
}

.nav-item {
  font-weight: 700;
}

// 自定義陰影樣式
.shadow-custom-md {
  box-shadow: 0 0.5625rem 1.625rem rgba($black, 0.125);
}

// 自定義 nav-link 樣式
.nav-link {
  color: $nav-link-color !important;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color !important;
    text-decoration: $link-hover-decoration;
  }
}

// 自定義 nav-toggle
.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:active{
  border: 0;
  border-color: unset !important;
}

// ----------------------- 樣式 ----------------------- //
// 圖片大小
.object-cover {
  object-fit: cover;
}

// 樣式清除
li, ol, ul {
  list-style: none;
}

// 購物車 
.cart-detail{
border: 2px solid $gray-400;
border-top: 0px;
}

// ProcessSteps
.current-step {
  position: relative;
}

.current-step::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid $secondary;
  background-color: $secondary;
  border-radius: 50%;
  transform: scale(1.3,1.3);
  pointer-events: none;
  z-index: -10;
}

.btn-disabled {
  pointer-events: none !important;
}

// banner
.banner {
  height: 20vh;
}


// ----------------------- 動畫 ----------------------- //
// 卡片動畫
.card {
  border: none;
  transition: transform 0.3s ease;
}
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}


tr,
th,
td {
  background-color: transparent !important;
}

// 產品頁 文字動畫
.tab-nav-item .nav-link {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease,transform 0.3s ease;
}

.tab-nav-item .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $secondary;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.tab-nav-item .nav-link:hover::before,
.tab-nav-item .nav-link.active::before {
  transform: scaleX(1);
}

.tab-nav-item .nav-link.active {
  color: $secondary !important;
  transform: scale(1.1);
  font-weight: $font-weight-bold;
}


// Navbar + 產品列表 文字動畫
.nav-link,
.category-product{
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}
.nav-link:hover,
.category-product:hover {
  color: $secondary !important;
  transform: scale(1.1);
  font-weight: $font-weight-bold;
}
.nav-link.active,
.category-product.active {
  color: $secondary !important;
  transform: scale(1.1);
  font-weight: $font-weight-bold;
  cursor: default;
}

.category-product-mobile {
  display: inline-block;
  background-color: transparent !important;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.category-product-mobile:hover {
  color: $white !important;
  background-color: $secondary !important;
  transform: scale(1.1);
  font-weight: $font-weight-bold;
}

.category-product-mobile.active {
  color: $white !important;
  background-color: $secondary !important;
  transform: scale(1.1);
  font-weight: $font-weight-bold;
  cursor: default;
}

// 按鈕彈跳動畫
.bounceBack {
  transform: scale(0.95);
  animation: bounceBack 0.5s ease forwards;
}

@keyframes bounceBack {
  0% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.02);
  }
  60% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

// 購物車動畫
.icon-hover{
  color: $primary !important;
  transition: color 0.3s ease, transform 0.3s ease;
}
.icon-hover:hover{
  color: $secondary !important;
  animation: shake 0.5s ease;
}
@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(-8deg);
  }
}
// 購物車 cartDropDown + 加入商品 動畫
.cart-dropdown {
  width: 300px;
  top: 50px;
  right: 0;
  z-index: 1000;
  animation: slideUpFadeOut 0.5s ease-in-out forwards;
}
.cart-dropdown.show {
  animation: slideDownFadeIn 0.5s ease-in-out forwards;
}

@keyframes slideDownFadeIn {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpFadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.toast-container .toast {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.toast-container .toast.exiting {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    transform: translateX(10px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(10px);
    opacity: 0;
  }
}


// 卡片溢出動畫
.horizontal-scroll {
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  position: relative;
}

.horizontal-scroll .card {
  flex: 0 0 auto;
  width: calc(100% / 2 - 1rem);
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease,transform 0.3s ease,color 0.3s ease;
}

.scroll-button:hover {
  color: $secondary !important;
  transform: scale(1.3) translateY(-40%);
}

.scroll-button.left {
  left: -2rem;
}

.scroll-button.right {
  right: -2rem;
}

// scroll bar 隱藏動畫
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
.horizontal-scroll {
  -ms-overflow-style: none;
}

// MessageToast 元件動畫 
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.toast.slide-in {
  animation: slideIn 0.5s forwards;
}

.toast.slide-out {
  animation: slideOut 0.5s forwards;
}

// ----------------------- RWD ----------------------- //
// RWD
@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }

  .bg-md-transparent {
    background-color: transparent !important; 
  }
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .horizontal-scroll .card {
    width: calc(100% / 4 - 1rem);
  }
  .banner {
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .banner {
      height: 50vh;
    }
}
